// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Numans');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.comment-avatar {
    max-width: 120px;
}

.comments-button {
    color: #fff;
    background-color: silver;
    border-color: silver;
}

.comment-container {
    border: 1px solid #e3e3e3;
    padding: 24px;
    border-radius: 6px;
    max-width: 100%;
}

button[id^='comment-'], .glyphicon-remove {
    float: right;
}

.btn.btn-black {
    color: #fff;
    background-color: black;
    border-color: black;
    padding: 6px 7px;
    font-size: 11px;
    float: right;
    &:hover {
        color: #fff;
        box-shadow: 0px 0px 1px 1px black;
    }
}

.comments-container {
    & > :not(#showComments):not(#hideComments)  {
        margin-top: 50px;
        border: 1px solid #e3e3e3;
        padding: 24px;
        border-radius: 6px;
        max-width: 100%;
        background: $comments-background;
    }
    & > button {
        margin-top: 30px;
        &#showComments {
            background: #449cea;
        }
        &#hideComments {
            background: orangered;
        }
        
    }
}

div[id^="replay-form"], #root-comment-form {
    width: 100%;
    & .col-md-6 {
        flex: 0 0 100%;
        max-width: none;
        text-align: center;
        margin-left: 0;
        & button {
            margin-top: 10px;
        }
        & label {
            float: none;
        }
    }
    & .form-group.mb-0 {
        width: 100%;
        margin: 0;
    }
}

#register-form, #login-form {
    & .card-header {
        border: none;
        font-weight: bold;
        font-size: 20px;
    }
    & .bg-gradient {
        background-image: linear-gradient(45deg,white, silver, white,silver, white);
        background-size: 150% 100%;
    }
    & .social {
        background-color: black;
    }
    & label[for="remember"] {
        margin-left: 20px;
        margin-top: 1px;
    }
}

.auth-inks, .user-loggedin-header {
    margin-bottom: 20px;
    & a {
        margin: 0 10px;
    }
    & .btn {
        padding: 6px 25px;
        font-weight: bold;
    }
}

.media-list {
    @media screen and (max-width: $medium-devices) {
        & .comment-container {
            min-width: 55vw;
        }
    }
    @media screen and (max-width: $small-devices) {
        & .comment-container {
            min-width: 65vw;
            position: relative;
            &.rooted-child {
                right: 25px;
            }
        }
        & .media {
            display: block;
            & > a {
                width: 100%;
                margin-bottom: 10px;
            }
            & .comment-avatar {
                max-width: 70px;
                margin: auto;
            }
            & .media-body {
                clear: both;
                & [id^="replay-to"] + a {
                    margin-top: 5px;
                }
            }
            & .media-comment {
                word-break: break-word;
            }
            & [id^="comment"] {
                position: relative;
                left: 20px;
                bottom: 20px;
            }
        }
    }
    @media screen and (max-width: $very-small-devices) {
        & {
            padding-left: 0;
        }
        & .media-body [id^="replay-to"] + a {
            font-size: 11px;
            padding: 6px 4px;
        }    
    }
}