// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.comment-avatar {
    max-width: 120px;
}

.comments-button {
    color: #fff;
    background-color: silver;
    border-color: silver;
}

.comments-container {
    border: 1px solid #e3e3e3;
    padding: 24px;
    border-radius: 6px;
    max-width: 100%;
}

button[id^='comment-'] {
    float: right;
}